@font-face {
  font-family: "Roboto-slab-reg";
  src: url(../fonts/robotoslabregular.woff); }

@font-face {
  font-family: "Roboto-slab-thin";
  src: url(../fonts/robotoslabthin.woff); }

html {
  font-size: 10px; }

ul {
  list-style: none; }

h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 5rem; }

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 5rem; }

h3 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 3.5rem; }

.header {
  padding-top: 40px;
  position: relative;
  overflow: hidden; }
  .header:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 0 solid transparent;
    border-left: calc(100vw - 15px) solid transparent;
    border-bottom: 65px solid white;
    z-index: 1;
    bottom: 5%;
    border-bottom: 100px solid white; }
  .header:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 5%;
    width: 100%;
    background: #ffffff; }
  .header__bg-filter {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url("/app/img/workplace-1245776_1920-min.jpg") no-repeat center;
    background-size: cover;
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
    z-index: -1; }
  .header__navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 110px; }
  .header__logo {
    height: 62px;
    width: 230px;
    background: url("/app/img/header-logo.png") no-repeat center;
    background-size: cover; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    font-family: Roboto;
    font-weight: 300;
    text-transform: uppercase; }
    .header__menu li {
      margin: 0 15px; }
      .header__menu li a {
        color: #ffffff; }
        .header__menu li a:hover {
          text-decoration: none; }
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto 170px;
    color: #ffffff;
    border: 2px solid #90d23d;
    border-radius: 15px; }
    .header .timer span {
      font-size: 13rem;
      line-height: 1.2em;
      font-family: Roboto-slab-thin; }
    .header .timer__text {
      text-align: center;
      font-family: Roboto-slab-reg;
      font-size: 25px;
      margin-bottom: 20px; }

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 140px; }
  .greeting__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative; }
  .greeting__text {
    width: 45%; }
    .greeting__text p {
      font-size: 1.4rem;
      font-family: "Roboto Light";
      color: #242424; }
  .greeting .register {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ffffff;
    z-index: 5; }
    .greeting .register__wrapper {
      width: 37%;
      position: relative; }
    .greeting .register form {
      padding: 30px 30px 20px;
      -webkit-box-shadow: 0 1px 0 1px rgba(35, 31, 32, 0.35);
              box-shadow: 0 1px 0 1px rgba(35, 31, 32, 0.35); }
      .greeting .register form p {
        font-family: "Roboto Light";
        font-size: 1.5rem;
        line-height: 1.2em;
        color: #6c6c6c;
        text-align: center;
        margin-bottom: 0; }
    .greeting .register legend {
      font-size: 30px;
      font-family: Roboto;
      font-weight: bold;
      color: #252525;
      text-align: center;
      margin-bottom: 10px; }
    .greeting .register fieldset {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .greeting .register input {
      width: 100%;
      height: 55px;
      font-family: "Roboto Light";
      font-size: 1.9rem;
      border-radius: 5px;
      margin-bottom: 20px;
      border: 1px solid #bebebe;
      padding: 0 10px; }
      .greeting .register input ::-webkit-input-placeholder, .greeting .register input :-moz-placeholder {
        font-size: 1.9rem;
        font-family: "Roboto Light";
        color: #bebebe; }
      .greeting .register input:nth-of-type(4) {
        margin-bottom: 40px; }
      .greeting .register input[type=submit] {
        color: #ffffff;
        font-size: 2.8rem;
        font-family: Roboto;
        font-weight: bold;
        background: #90d23d;
        border: none;
        margin-bottom: 15px; }
      .greeting .register input:focus {
        outline: none;
        -webkit-box-shadow: 0 0 0 1px #90d23d;
                box-shadow: 0 0 0 1px #90d23d; }

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px; }
  .event__details {
    text-align: center;
    width: 26.5%; }
    .event__details img {
      width: 100%;
      height: auto;
      margin: 0; }
    .event__details p {
      font-family: "Roboto Light";
      font-size: 1.4rem;
      color: #242424; }
  .event__img {
    width: 70%;
    height: 190px;
    margin: 0 auto 40px; }

.eventTable {
  position: relative; }
  .eventTable table {
    width: 94%;
    color: #ffffff;
    margin: 0 auto 35px;
    border-radius: 10px;
    overflow: hidden; }
    .eventTable table tr {
      height: 75px;
      background: #373737; }
      .eventTable table tr td, .eventTable table tr th {
        height: auto;
        vertical-align: middle;
        text-align: center;
        font-size: 22px; }
        .eventTable table tr td:nth-child(1), .eventTable table tr th:nth-child(1) {
          width: 20%; }
        .eventTable table tr td:nth-child(2), .eventTable table tr th:nth-child(2) {
          text-align: start;
          width: 70%;
          padding-left: 30px; }
        .eventTable table tr td:nth-child(3), .eventTable table tr th:nth-child(3) {
          width: 10%; }
      .eventTable table tr th {
        font-size: 30px;
        background: #a3cc40; }
      .eventTable table tr td {
        cursor: pointer; }
      .eventTable table tr:nth-child(2n+1) {
        background: #4b4d4f; }
  .eventTable__description {
    text-align: center;
    font-family: "Roboto Light";
    font-size: 1.4rem;
    line-height: 1.1em;
    margin-bottom: 170px; }
  .eventTable:after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 65px solid white;
    border-right: calc(100vw - 15px) solid transparent;
    border-bottom: 0 solid transparent;
    z-index: 1; }

.rewards {
  position: relative;
  background: #4b4d4f;
  padding: 170px 0 160px;
  color: #ffffff; }
  .rewards:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 0 solid transparent;
    border-left: calc(100vw - 15px) solid transparent;
    border-bottom: 65px solid white;
    z-index: 1; }
  .rewards__image {
    top: -280px;
    left: 3%;
    width: 330px;
    height: 330px;
    background: url("../img/Elite-Badge.png") no-repeat center;
    background-size: contain;
    z-index: 5; }
  .rewards__description {
    text-align: right;
    font-family: "Roboto Light";
    font-size: 1.4rem; }
    .rewards__description p {
      margin-bottom: 30px; }
    .rewards__description input {
      height: 55px;
      width: 200px;
      text-align: center;
      background: #90d23d;
      color: #ffffff;
      font-size: 1.8rem;
      border-radius: 15px;
      border: none;
      cursor: pointer; }

.speakers {
  position: relative;
  padding: 170px 0 160px; }
  .speakers__h2 {
    margin-left: 30px;
    margin-bottom: 10px; }
  .speakers__p {
    margin-left: 20px;
    margin-bottom: 30px; }
  .speakers__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #ffffff; }
  .speakers__name {
    font-family: Roboto;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 1em; }
  .speakers__info {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 20px; }
  .speakers__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 300px;
    width: 30%;
    max-width: 300px;
    background: #90d23d url("../img/card_bg.png") no-repeat center;
    background-size: cover;
    margin: 1.5%;
    border-radius: 15px;
    padding: 30px 30px 20px; }
  .speakers .card__center {
    background: url("../img/speakers-center.png") no-repeat center; }
  .speakers__icons {
    margin-top: auto; }
  .speakers:after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 65px solid white;
    border-right: calc(100vw - 15px) solid transparent;
    border-bottom: 0 solid transparent;
    z-index: 1;
    bottom: -65px; }

.icon {
  display: inline-block;
  height: 30px;
  width: 30px; }
  .icon__fb {
    background: url("../img/icons/facebook.png") no-repeat center;
    background-size: cover; }
  .icon__tw {
    background: url("../img/icons/twitter.png") no-repeat center;
    background-size: cover; }
  .icon__be {
    background: url("../img/icons/behance.png") no-repeat center;
    background-size: cover; }
  .icon__dr {
    background: url("../img/icons/dribbble.png") no-repeat center;
    background-size: cover; }
  .icon__in {
    background: url("../img/icons/linkedin.png") no-repeat center;
    background-size: cover; }
  .icon__gl {
    background: url("../img/icons/google-plus.png") no-repeat center;
    background-size: cover; }
  .icon__tb {
    background: url("../img/icons/tumblr.png") no-repeat center;
    background-size: cover; }

.sponsor {
  color: #ffffff;
  background: #4b4d4f;
  text-align: center;
  padding: 170px 0 160px; }
  .sponsor h2 {
    margin-bottom: 20px; }
  .sponsor p {
    font-family: "Roboto Light";
    font-size: 1.4rem;
    margin-bottom: 40px; }
  .sponsor input {
    height: 55px;
    width: 200px;
    text-align: center;
    background: #90d23d;
    color: #ffffff;
    font-size: 1.8rem;
    border-radius: 15px;
    border: none;
    cursor: pointer; }
  .sponsor__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px; }
  .sponsor__logo {
    margin: 0 40px; }

.pastEvents {
  position: relative;
  padding: 110px 0 90px; }
  .pastEvents h2 {
    padding-left: 85px;
    margin-bottom: 25px; }
  .pastEvents p {
    font-family: Roboto;
    font-size: 1.4rem;
    padding-left: 85px;
    margin-bottom: 100px; }
  .pastEvents__images {
    margin-bottom: 100px; }
  .pastEvents__image {
    padding: 0;
    max-height: 420px; }
    .pastEvents__image img {
      height: 100%;
      width: 100%; }
  .pastEvents input {
    height: 55px;
    width: 200px;
    text-align: center;
    background: #90d23d;
    color: #ffffff;
    font-size: 1.8rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    background: #373737; }
  .pastEvents:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 0 solid transparent;
    border-left: calc(100vw - 15px) solid transparent;
    border-bottom: 65px solid white;
    z-index: 1;
    top: -65px; }

.map {
  position: relative;
  height: 660px;
  width: 100%; }
  .map__popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 80%;
    width: 80%;
    max-width: 970px;
    background: #ffffff;
    padding: 60px 0 50px; }
  .map__popup-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; }
  .map #map {
    height: 100%;
    width: 100%; }
  .map .popup__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    height: auto;
    margin-bottom: 40px; }
  .map .popup__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30%;
    height: 100%; }
    .map .popup__info input {
      height: 55px;
      width: 200px;
      text-align: center;
      background: #90d23d;
      color: #ffffff;
      font-size: 1.8rem;
      border-radius: 15px;
      border: none;
      cursor: pointer; }
    .map .popup__info p {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px; }
  .map form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
    height: 100%; }
    .map form input[type=text] {
      height: 50px;
      border: 1px solid #a5a5a5;
      padding: 0 15px;
      border-radius: 5px; }
    .map form input[type=submit] {
      height: 60px;
      width: 100%;
      background: #373737;
      border: none;
      color: #ffffff;
      font-family: Roboto;
      font-size: 2.2rem;
      border-radius: 5px;
      cursor: pointer; }
    .map form textarea {
      padding: 15px;
      resize: none;
      border-radius: 5px; }

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #90d23d;
  height: 220px; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
    footer .icons .icon {
      margin: 0 5px; }
  footer p {
    color: #ffffff;
    font-family: "Roboto Light";
    font-size: 1.8rem;
    text-align: center; }
  footer .arrow__up {
    position: absolute;
    right: 50px;
    top: 50%;
    height: 24px;
    width: 24px;
    background: url("../img/Up-Button.png") no-repeat center;
    background-size: contain;
    cursor: pointer; }

@media all and (max-width: 1000px) {
  .speakers__name {
    font-size: 3vw; }
  .speakers__info {
    font-size: 1.3vw; }
  .speakers__card {
    padding: 15px 15px 10px; }
  .speakers .icon {
    height: 20px;
    width: 20px; } }

@media all and (max-width: 568px) {
  .speakers__card {
    padding: 10px 10px 10px; }
  .speakers .icon {
    height: 15px;
    width: 15px; } }
