@font-face {
  font-family: "Roboto-slab-reg";
  src: url(../fonts/robotoslabregular.woff);
}
@font-face {
  font-family: "Roboto-slab-thin";
  src: url(../fonts/robotoslabthin.woff);
}

html{
  font-size: 10px;
}
ul{
  list-style: none;
}
h1{
  font-family: Roboto;
  font-weight: bold;
  font-size: 5rem;
}
h2{
  font-family: Roboto;
  font-weight: bold;
  font-size: 5rem;
}
h3{
  font-family: Roboto;
  font-weight: 900;
  font-size: 3.5rem;
}
@mixin button-green{
  height: 55px;
  width: 200px;
  text-align: center;
  background: #90d23d;
  color: #ffffff;
  font-size: 1.8rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
@mixin afterBlock-left{
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0;
  width: 100%;
  border-top: 65px solid white;
  border-right: calc(100vw - 15px) solid transparent;
  border-bottom: 0 solid transparent;
  z-index: 1;
}
@mixin afterBlock-right{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  height: 0;
  width: 100%;
  border-top: 0 solid transparent;
  border-left: calc(100vw - 15px) solid transparent;
  border-bottom: 65px solid white;
  z-index: 1;
}

.header{
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  &:after{
    @include afterBlock-right;
    bottom: 5%;
    border-bottom: 100px solid white;
  }
  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 5%;
    width: 100%;
    background: #ffffff;
  }
  &__bg-filter{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url("/app/img/workplace-1245776_1920-min.jpg")no-repeat center;
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
  }
  &__navigate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }
  &__logo{
    height: 62px;
    width: 230px;
    background: url("/app/img/header-logo.png")no-repeat center;
    background-size: cover;
  }
  &__menu{
    display: flex;
    font-size: 1.5rem;
    font-family: Roboto;
    font-weight: 300;
    text-transform: uppercase;
    li{
      a{
        color: #ffffff;
        &:hover{
          text-decoration: none;

        }
      }
      margin: 0 15px;
    }
  }
  nav{
    display: flex;
    align-items: center;
  }

  .timer{
    display: flex;
    justify-content: space-around;
    margin: 0 auto 170px;
    color: #ffffff;
    border: 2px solid #90d23d;
    border-radius: 15px;
    span{
      font-size: 13rem;
      line-height: 1.2em;
      font-family: Roboto-slab-thin;
    }
    &__text{
      text-align: center;
      font-family:Roboto-slab-reg;
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}

.greeting{
  display: flex;
  justify-content: space-around;
  padding-bottom: 140px;
  &__row{
    justify-content: space-around;
    position: relative;
  }
  &__text{
    width: 45%;
    p{
      font-size: 1.4rem;
      font-family: "Roboto Light";
      color: #242424;
    }
  }
  .register{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ffffff;
    &__wrapper{
      width: 37%;
      position: relative;
    }
    form{
      padding: 30px 30px 20px;
      box-shadow: 0 1px 0 1px rgba(35,31,32,0.35);
      p{
        font-family: "Roboto Light";
        font-size: 1.5rem;
        line-height: 1.2em;
        color: #6c6c6c;
        text-align: center;
        margin-bottom:0;
      }
    }
    legend{
      font-size: 30px;
      font-family: Roboto;
      font-weight: bold;
      color: #252525;
      text-align: center;
      margin-bottom: 10px;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input{
      width: 100%;
      height: 55px;
      font-family: "Roboto Light";
      font-size: 1.9rem;
      border-radius: 5px;
      margin-bottom: 20px;
      border: 1px solid #bebebe;
      padding: 0 10px;
      ::-webkit-input-placeholder,:-moz-placeholder{
        font-size: 1.9rem;
        font-family: "Roboto Light";
        color: #bebebe;
      }
      &:nth-of-type(4){
        margin-bottom: 40px;
      }
      &[type = submit]{
        color: #ffffff;
        font-size: 2.8rem;
        font-family:Roboto;
        font-weight: bold;
        background: #90d23d;
        border:none;
        margin-bottom: 15px;
      }
      &:focus{
        outline: none;
        box-shadow: 0 0 0 1px #90d23d;
      }
    }
  }
}

.event{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  &__details{
    text-align: center;
    width: 26.5%;
    img{
      width: 100%;
      height: auto;
      margin: 0;
    }
    p{
      font-family: "Roboto Light";
      font-size: 1.4rem;
      color: #242424;
    }
  }
  &__img{
    width: 70%;
    height: 190px;
    margin: 0 auto 40px;
  }
}

.eventTable {
  position: relative;
  table {
    width: 94%;
    color: #ffffff;
    margin: 0 auto 35px;
    border-radius: 10px;
    overflow: hidden;
    tr{
      height: 75px;
      background: #373737;
      td,th{
        height: auto;
        vertical-align: middle;
        text-align: center;
        font-size: 22px;
        &:nth-child(1){
          width: 20%;
        }
        &:nth-child(2){
          text-align: start;
          width: 70%;
          padding-left: 30px;
        }
        &:nth-child(3){
          width: 10%;
        }
      }
      th{
        font-size: 30px;
        background: #a3cc40;
      }
      td{
        cursor: pointer;
      }
      &:nth-child(2n+1){
        background: #4b4d4f;
      }
    }
  }
  &__description{
    text-align: center;
    font-family: "Roboto Light";
    font-size: 1.4rem;
    line-height: 1.1em;
    margin-bottom: 170px;
  }
  &:after{
    @include afterBlock-left;
  }

}

.rewards{
  position: relative;
  background: #4b4d4f;
  padding: 170px 0 160px;
  color: #ffffff;
  &:after{
    @include afterBlock-right;
  }
  &__image{
    top: -280px;
    left: 3%;
    width: 330px;
    height: 330px;
    background: url("../img/Elite-Badge.png")no-repeat center;
    background-size: contain;
    z-index: 5;
  }
  &__description{
    text-align: right;
    font-family: "Roboto Light";
    font-size: 1.4rem;
    p{
      margin-bottom: 30px;
    }
    input{
      @include button-green;
    }
  }
}

.speakers{
  position: relative;
  padding: 170px 0 160px;
  h2{
    margin-left: 30px;
    margin-bottom: 10px;
  }
  p{
    margin-left: 20px;
    margin-bottom: 30px;
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
  }
  &__name{
    font-family: Roboto;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1em;
  }
  &__info{
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.8rem;
  }
  &__card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background: #90d23d url("../img/card_bg.png")no-repeat center;
    background-size: contain;
    margin: 20px;
    border-radius: 15px;
    padding: 30px 30px 20px;
  }
  .card__center{
    background: url("../img/speakers-center.png")no-repeat center;
  }
  &__icons{
    margin-top: auto;
  }
  .icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    &__fb{
      background: url("../img/icons/facebook.png")no-repeat center;
      background-size: cover;
    }
    &__tw{
      background: url("../img/icons/twitter.png")no-repeat center;
      background-size: cover;
    }
    &__be{
      background: url("../img/icons/behance.png")no-repeat center;
      background-size: cover;
    }
    &__dr{
      background: url("../img/icons/dribbble.png")no-repeat center;
      background-size: cover;
    }
  }
  &:after{
    @include afterBlock-left;
    bottom: -65px;
  }
}

.sponsor{
  color: #ffffff;
  background: #4b4d4f;
  text-align: center;
  padding: 170px 0 160px;
  h2{
    margin-bottom: 20px;
  }
  p{
    font-family: "Roboto Light";
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
  input{
    @include button-green;

  }
  &__group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  &__logo{
    margin: 0 40px;
  }
}


