@font-face {
  font-family: "Roboto-slab-reg";
  src: url(../fonts/robotoslabregular.woff);
}
@font-face {
  font-family: "Roboto-slab-thin";
  src: url(../fonts/robotoslabthin.woff);
}

html{
  font-size: 10px;
}
input[type=submit]{
  transition: all 0.5s ease-in-out;
  &:hover{
    filter: hue-rotate(320deg);
  }
}
  input[type=submit]:active,input[type=submit]:focus{
    outline: none;
    box-shadow: 0 0 10px 1px #90d23d;
  }
  ul{
    list-style: none;
  }
  h1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 5rem;
  }
  h2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 5rem;
  }
  h3{
    font-family: Roboto;
    font-weight: 900;
    font-size: 3.5rem;
  }
  @mixin button-green{
    height: 55px;
    width: 200px;
    text-align: center;
    background: #90d23d;
    color: #ffffff;
    font-size: 1.8rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  @mixin afterBlock-left{
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 65px solid white;
    border-right: calc(100vw - 15px) solid transparent;
    border-bottom: 0 solid transparent;
    z-index: 1;
  }
  @mixin afterBlock-right{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 0;
    width: 100%;
    border-top: 0 solid transparent;
    border-left: calc(100vw - 15px) solid transparent;
    border-bottom: 65px solid white;
    z-index: 1;
  }

  .header{
    padding-top: 40px;
    position: relative;
    overflow: hidden;
    &:after{
      @include afterBlock-right;
      bottom: 5%;
      border-bottom: 100px solid white;
    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      height: 5%;
      width: 100%;
      background: #ffffff;
    }
    &__bg-filter{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 100%;
      background: url("/app/img/workplace-1245776_1920-min.jpg")no-repeat center;
      background-size: cover;
      filter: brightness(30%);
      z-index: -1;
    }
    &__navigate{
      display: flex;
      justify-content: space-between;
      margin-bottom: 110px;
    }
    &__logo{
      height: 62px;
      width: 230px;
      background: url("/app/img/header-logo.png")no-repeat center;
      background-size: contain;
    }
    &__menu{
      display: flex;
      font-size: 1.5rem;
      font-family: Roboto;
      font-weight: 300;
      text-transform: uppercase;
      li{
        a{
          color: #ffffff;
          &:hover{
            text-decoration: none;

          }
        }
        margin: 0 15px;
      }
    }
    &__img{
      width: 60%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    nav{
      display: flex;
      align-items: center;
    }
    .timer{
      display: flex;
      justify-content: space-around;
      margin: 0 auto 170px;
      color: #ffffff;
      border: 2px solid #90d23d;
      border-radius: 15px;
      span{
        font-size: 13rem;
        line-height: 1.2em;
        font-family: Roboto-slab-thin;
      }
      &__text{
        text-align: center;
        font-family:Roboto-slab-reg;
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
    }
    .burger{
      display: none;
      position: absolute;
      top: 40px;
      right: 40px;
      span{
        display: block;
        height: 4px;
        width: 30px;
        background: #ffffff;
        border-radius: 5px;
        margin-bottom: 4px;
      };
    }
    .nav__closed{
      display: none;
      position: absolute;
      top: 40px;
      right: 40px;
      height: 30px;
      width: 30px;
      z-index: 1001;
      span{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
        transform-origin: 40% 50%;
        &:first-child{
          transform: rotate(45deg);
        }
        &:last-child{
          transform: rotate(-45deg);
        }
      }
    }
  }

  .greeting{
    display: flex;
    justify-content: space-around;
    padding-bottom: 140px;
    &__row{
      justify-content: space-around;
      position: relative;
    }
    &__text{
      width: 45%;
      p{
        font-size: 1.4rem;
        font-family: "Roboto Light";
        color: #242424;
      }
    }
    .register{
      width: 100%;
      position: absolute;
      bottom: 0;
      background: #ffffff;
      z-index: 5;
      &__wrapper{
        width: 37%;
        position: relative;
      }
      form{
        padding: 30px 30px 20px;
        box-shadow: 0 1px 0 1px rgba(35,31,32,0.35);
        p{
          font-family: "Roboto Light";
          font-size: 1.5rem;
          line-height: 1.2em;
          color: #6c6c6c;
          text-align: center;
          margin-bottom:0;
        }
      }
      legend{
        font-size: 3.0rem;
        font-family: Roboto;
        font-weight: bold;
        color: #252525;
        text-align: center;
        margin-bottom: 10px;
      }
      fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      input{
        width: 100%;
        height: 55px;
        font-family: "Roboto Light";
        font-size: 1.9rem;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid #bebebe;
        padding: 0 10px;
        ::-webkit-input-placeholder,:-moz-placeholder{
          font-size: 1.9rem;
          font-family: "Roboto Light";
          color: #bebebe;
        }
        &:nth-of-type(4){
          margin-bottom: 40px;
        }
        &[type = submit]{
          color: #ffffff;
          font-size: 2.8rem;
          font-family:Roboto;
          font-weight: bold;
          background: #90d23d;
          border:none;
          margin-bottom: 15px;
        }
        &:focus{
          outline: none;
          box-shadow: 0 0 0 1px #90d23d;
        }
      }
    }
  }

  .event{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    &__details{
      text-align: center;
      width: 26.5%;
      img{
        width: 100%;
        height: auto;
        margin: 0;
      }
      p{
        font-family: "Roboto Light";
        font-size: 1.4rem;
        color: #242424;
      }
    }
    &__img{
      width: 70%;
      height: 190px;
      margin: 0 auto 40px;
    }
  }

  .eventTable {
    position: relative;
    table {
      width: 94%;
      color: #ffffff;
      margin: 0 auto 35px;
      border-radius: 10px;
      overflow: hidden;
      tr{
        height: 75px;
        background: #373737;
        td,th{
          height: auto;
          vertical-align: middle;
          text-align: center;
          font-size: 2.2rem;
          &:nth-child(1){
            width: 20%;
          }
          &:nth-child(2){
            text-align: start;
            width: 70%;
            padding-left: 30px;
          }
          &:nth-child(3){
            width: 10%;
          }
        }
        th{
          font-size: 3rem;
          background: #a3cc40;
        }
        td{
          cursor: pointer;
        }
        &:nth-child(2n+1){
          background: #4b4d4f;
        }
      }
    }
    &__description{
      text-align: center;
      font-family: "Roboto Light";
      font-size: 1.4rem;
      line-height: 1.1em;
      margin-bottom: 170px;
    }
    &:after{
      @include afterBlock-left;
    }

  }

  .rewards{
    position: relative;
    background: #4b4d4f;
    padding: 170px 0 160px;
    color: #ffffff;
    &:after{
      @include afterBlock-right;
    }
    &__image{
      top: -280px;
      left: 3%;
      width: 330px;
      height: 330px;
      background: url("../img/Elite-Badge.png")no-repeat center;
      background-size: contain;
      z-index: 5;
    }
    &__description{
      text-align: right;
      font-family: "Roboto Light";
      font-size: 1.4rem;
      p{
        margin-bottom: 30px;
      }
      input{
        @include button-green;
      }
    }
  }

  .speakers{
    position: relative;
    padding: 170px 0 160px;
    &__h2{
      margin-left: 30px;
      margin-bottom: 10px;
    }
    &__p{
      font-size: 1.4rem;
      margin-left: 20px;
      margin-bottom: 30px;
    }
    &__cards{
      display: flex;
      flex-wrap: wrap;
      color: #ffffff;
    }
    &__name{
      font-family: Roboto;
      font-weight: 900;
      font-size: 4.5em;
      line-height: 1em;
    }
    &__info{
      font-family: Roboto;
      font-weight: 500;
      font-size: 1.8em;
      margin-bottom: 20px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      max-height: 300px;
      width: 30%;
      max-width: 300px;
      background: #90d23d url("../img/card_bg.png")no-repeat center;
      background-size: cover;
      margin: 1.5%;
      border-radius: 15px;
      padding: 30px 30px 20px;
    }
    .card__center{
      background: url("../img/speakers-center.png")no-repeat center;
      background-size: contain;
    }
    &__icons{
      margin-top: auto;
    }
    &:after{
      @include afterBlock-left;
      bottom: -65px;
    }
  }

  .icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    &__fb{
      background: url("../img/icons/facebook.png")no-repeat center;
      background-size: cover;
    }
    &__tw{
      background: url("../img/icons/twitter.png")no-repeat center;
      background-size: cover;
    }
    &__be{
      background: url("../img/icons/behance.png")no-repeat center;
      background-size: cover;
    }
    &__dr{
      background: url("../img/icons/dribbble.png")no-repeat center;
      background-size: cover;
    }
    &__in{
      background: url("../img/icons/linkedin.png")no-repeat center;
      background-size: cover;
    }
    &__gl{
      background: url("../img/icons/google-plus.png")no-repeat center;
      background-size: cover;
    }
    &__tb{
      background: url("../img/icons/tumblr.png")no-repeat center;
      background-size: cover;
    }
    &:hover{
      transform: scale(1.2);
    }
  }
  .sponsor{
    color: #ffffff;
    background: #4b4d4f;
    text-align: center;
    padding: 170px 0 160px;
    h2{
      margin-bottom: 20px;
    }
    p{
      font-family: "Roboto Light";
      font-size: 1.4rem;
      margin-bottom: 40px;
    }
    input{
      @include button-green;

    }
    &__group{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
    }
    &__logo{
      margin: 0 40px;
    }
  }

  .pastEvents{
    position: relative;
    padding: 110px 0 90px;
    h2{
      padding-left: 85px;
      margin-bottom: 25px;
    }
    p{
      font-family: Roboto;
      font-size: 1.4rem;
      padding-left: 85px;
      margin-bottom: 100px;
    }
    &__images{
      margin-bottom: 100px;
    }
    &__image{
      padding: 0;
      max-height: 420px;
      img{
        position: relative;
        height: 100%;
        width: 100%;
        transition: all 0.2s linear;
        &:hover{
          transform: scale(1.2);
          z-index: 10;
        }
      }
    }
    input{
      @include button-green;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      background: #373737;
    }
    &:before{
      @include afterBlock-right;
      top: -65px;
    }
  }

  .map{
    position: relative;
    height: 660px;
    width: 100%;
    &__popup{
      display: flex;
      justify-content: space-around;
      height: 80%;
      width: 80%;
      max-width: 970px;
      background: #ffffff;
      padding: 60px 0 50px;
    }
    &__popup-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.7);
      z-index: 1;
    }
    #map{
      height: 100%;
      width: 100%;
    }

    .popup{
      &__img{
        display: flex;
        justify-content: center;
        width: 50%;
        height: auto;
        margin-bottom: 40px;
      }
      &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        input{
          @include button-green;
        }
        p{
          font-size: 1.8rem;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;
      height: 100%;
      input[type=text]{
        height: 50px;
        border: 1px solid #a5a5a5;
        padding: 0 15px;
        border-radius: 5px;
      }
      input[type=submit]{
        height: 60px;
        width: 100%;
        background: #373737;
        border: none;
        color: #ffffff;
        font-family: Roboto;
        font-size: 2.2rem;
        border-radius: 5px;
        cursor: pointer;
      }
      textarea{
        padding: 15px;
        resize: none;
        border-radius: 5px;
      }
    }
  }

  footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #90d23d;
    height: 220px;
    .icons{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      .icon{
        margin: 0 5px;
      };
    }
    p{
      color: #ffffff;
      font-family: "Roboto Light";
      font-size: 1.8rem;
      text-align: center;
    }
    .arrow__up{
      position: absolute;
      right: 50px;
      top: 50%;
      height: 24px;
      width: 24px;
      background: url("../img/Up-Button.png")no-repeat center;
      background-size: contain;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 992px){
    html{
      font-size: 8px;
    }
    .greeting{
      .register{
        legend{
          font-size: 2.5rem;
        }
        input{
          height: 35px;
        }
      }
    }
    .event__img{
      height: 120px;
    }
    .speakers{
      &__name{
        font-size: 3vw;
      }
      &__info{
        font-size: 1.3vw;
      }
      &__card{
        padding: 15px 15px 10px;
      }
      .icon{
        height: 20px;
        width: 20px;
      }
    }
  }

  @media screen and (max-width: 768px){
    @mixin afterBlock-left{
      border-right: calc(100vw) solid transparent;
    }
    @mixin afterBlock-right{
      border-left: calc(100vw) solid transparent;
    }
    .header{
      padding: 20px 20px 0;

      &__logo{
        width: 150px;
      }
      &__navigate{
        margin-bottom: 50px;
        flex-direction: column;
      }
      &__menu{
        li{
          margin: 0 10px;
        }
      }
      .timer{
        margin: 0 auto 120px;
        span{
          font-size: 13vw;
        }
        &__text{
          font-size: 3vw;
        }
      }
      &:after{
        border-bottom: 50px solid #ffffff;
        border-left: calc(100vw) solid transparent;
      }
    }
    .greeting{
      padding: 0 20px 60px;
      .row{
        flex-direction: column;
      }
      &__text{
        width: 100%;
      }
      .register{
        position: static;
        &__wrapper{
          width: 100%;
        }
        form{
          box-shadow: 0 1px 0 2px rgba(35, 31, 32, 0.35);
        }
      }

    }
    .event{
      margin-bottom: 50px;
      &__title{
        font-size: 3rem;
      }
    }
    .eventTable{
      table{
        tr{
          td,th{
            font-size: 1.8rem;
            &:nth-child(2){
              padding-left: 10px;
            }
          }
        }
      }
      &__description{
        margin-bottom: 60px;
      }
      &:after{
        border-right: calc(100vw) solid transparent;
      }
    }
    .rewards{
      padding: 0 0 120px;
      &__image{
        height: 220px;
        width: 220px;
        top: -40px;
      }
      &:after{
        border-left: calc(100vw) solid transparent;
      }
    }
    .speakers{
      padding: 50px 0 60px ;
      &:after{
        border-right: calc(100vw) solid transparent;
      }
    }
    .sponsor{
      &__logo{
        margin: 0 10px;
      }
    }
    .pastEvents{
      padding: 60px 0 80px;
      h2,p{
        padding-left: 0;
      }
      p{
        margin-bottom: 30px;
      }
      &:before{
        border-left: calc(100vw) solid transparent;
      }
    }
    .map{
      height: 520px;
      &__popup{
        padding: 30px 0 20px;
      }
    }
    footer{
      height: 140px;
      .icons{

        margin-bottom: 10px;
      }
    }
  }

  @media screen and (max-width: 568px){
    .header{
      .burger{
        display: block;
      }
      nav{
        display: none;
      }
      .nav__closed{
        display: block;
      }
      &__menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        background: rgba(10,10,10,.9);
        z-index: 1000;
        li{
          margin: 10px 0;
        }
      }
    }
    .speakers{
      &__card{
        width: 45%;
        padding: 10px 10px 10px;
      }
      &__info{
        font-size: 1.8vw;
      }
    }
    .sponsor{
      &__group{
        flex-direction: column;
      }
      &__logo{
        margin-bottom: 30px;
      }
    }
    .event{
      flex-direction: column;
      &__details{
        width: 60%;
        margin: 0 auto 20px;
        img{
          width: auto;
          height: 100%;
        }
      }
      &__img{
        margin-bottom: 10px;
      }
    }
    .card__center{
      display: none;
    }
    .map{
      &__popup{
        height: 90%;
        flex-direction: column;
      }
      .popup{
        &__info{
          width: 100%;
          margin-bottom: 30px;
        }
        &__img{
          height: 80px;
          width: auto;
          margin-bottom: 20px;
          img{
            height: 100%;
            width: auto;
          }
        }
      }
      form{
        margin: 0 auto;
        input[type=text],textarea{
          margin-bottom: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 420px){
    .speakers{
      &__cards{
        justify-content: center;
      }
      &__card{
        width: 100%;
        flex-direction: column;
        // flex-wrap: nowrap;
      }
      &__name{
        font-size: 4vw;
      }
      &__info{
        font-size: 2.5vw;
      }
    }
    .map{
      form{
        width: 80%;
      }
    }
    .rewards__image {
      height: 150px;
      width: 150px;
      top: -20px;
    }
  }